body {
  background-color: #000000;
}

.card-img-top {
  width: 100%;
  height: 300px;
  object-fit: contain;
  background-color: #fff;
  padding: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-body img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}
